@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

:root {
    --primary-color: #3fd0d4;
    --text-color: #212121;
    --white-color: #fff;
    --red-color: #ef2853;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Poppins', sans-serif;
}

.underline-animate {
    position: relative;
}

.underline-animate::after {
    content: "";
    height: 2px;
    width: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: currentColor;
    transition: width 0.2s linear;
}
