/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;500;700&display=swap');

/* Variables CSS */
:root {
    /* Colors */
    --primary-color: #f1f1f1;
    --secondary-color: #2b1f4d;
    --black: #222;
    --black2: #555;
    --black3: #252525;
    --black4: #000;
    --black5: #212529;
    --orange: #eb0028;
    --white: #fff;
    --grey: #959595;
    --grey2: #666;
    --grey3: #ccc;
    --yellow: #ffcc00;
    --green: #59b210;

    /* Font and typography*/
    --body-font: 'Archivo', sans-serif;
    --font-normal: 400;
    --font-medium: 500;
    --font-bold: 700;
}

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body, input {
    font-size: 1.6rem;
    font-weight: var(--font-normal);
    font-family: var(--body-font);
    color: var(--black);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

h3, h4 {
    font-weight: var(--font-medium);
}

/* Header */
.header {
    position: relative;
}

.container {
    width: 100%;
    max-width: 117rem;
    margin: 0 auto;
    padding: 0 1.6rem;
}

/* Navigation */
.navigation {
    position: relative;
    height: 7rem;
    box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 7rem;
    width: 100%;
    padding: 0 1rem;
}

.nav__logo a {
    font-size: 2.5rem;
    color: var(--black);
    padding: 1.6rem;
    font-weight: var(--font-bold);
}

.nav__hamburger {
    display: none;
    cursor: pointer;
}

.nav__hamburger svg {
    height: 2.3rem;
    width: 2.3rem;
}

.menu__top {
    display: none;
}

.nav__menu {
    width: 50%;
}

.nav__list {
    display: flex;
    align-items: center;
    height: 100%;
    width: 50%;
}

.nav__item:not(:last-child) {
    margin-right: 1.6rem;
}

.nav__list .nav__link:link,
.nav__list .nav__link:visited {
    display: inline-block;
    font-size: 1.4rem;
    text-transform: uppercase;
    color: var(--black);
    transition: color 0.3s ease-in-out;
}

.nav__list .nav__link:hover {
    color: var(--orange);
}

.nav__icons {
    display: flex;
    position: relative;
}

.nav__icons .icon__item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.7rem;
    border: 1px solid var(--black);
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
}

.nav__icons .icon__item svg {
    width: 1.6rem;
    height: 1.6rem;
}

.nav__icons .icon__item:link,
.nav__icons .icon__item:visited {
    color: var(--black);
}

.nav__icons .icon__item:not(:last-child) {
    margin-right: 1rem;
}

.nav__icons .icon__item:hover {
    background-color: var(--orange);
}

.nav__icons #cart__total {
    position: absolute;
    top: 0.2rem;
    right: -0.6rem;
    font-size: 1rem;
    background-color: var(--orange);
    padding: 0.2rem 0.4rem;
    color: var(--primary-color);
    border-radius: 50%;
}

/* Hero area */
.hero, .hero .glide__slides {
    background-color: var(--primary-color);
    position: relative;
    width: 100%;
    height: 100vh;
}

.hero .glide__bullet {
    background-color: var(--black);
    width: 1.2rem;
    height: 1.2rem;
}

.hero .glide__arrow {
    padding: 1.5rem 1.7rem;
    opacity: 0;
    border: none;
    border-radius: 50%;
    background-color: var(--grey);
    transition: all 0.5s ease-in-out 0.2s;
}

.glide__arrow:hover {
    background-color: var(--black3);
}

.glide__arrow--left {
    left: 20rem;
}

.glide__arrow--right {
    position: absolute;
    right: 20rem;
}

.hero:hover .glide__arrow--left {
    left: 23rem;
}

.hero:hover .glide__arrow--right {
    position: absolute;
    right: 23rem;
}

.hero:hover .glide__arrow {
    opacity: 1;
}

.hero .glide__arrow svg {
    height: 1.8rem;
    width: 1.8rem;
    fill: var(--primary-color);
}

.hero__center {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    max-width: 114rem;
    margin: 0 auto;
    height: 100%;
    padding-top: 3rem;
}

.hero__left {
    padding: 0 3rem;
    flex: 0 0 50%;
}

.hero__btn {
    display: inline-block;
    font-weight: var(--font-bold);
    font-size: 1.4rem;
    background-color: var(--black);
    color: var(--primary-color);
    cursor: pointer;
    margin-top: 1rem;
    padding: 1.5rem 4rem;
    border: 1px solid var(--black);
    transition: all 0.3s ease-in-out;
}

.hero__btn:focus {
    outline: none;
}

.hero__left .hero__btn:hover {
    font-weight: var(--font-bold);
    background-color: transparent;
    color: var(--black);
}

.hero__left h1 {
    margin: 1rem 0;
}

.hero__left p {
    margin-bottom: 1rem;
}

.hero__right {
    flex: 0 0 50%;
    position: relative;
    text-align: center;
}

/* Collection */
.section {
    padding: 3rem 0;
}

.collection {
    margin: 3rem 0;
}

.collection__container {
    width: 100%;
    height: 100%;
    padding: 0 1.6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.collection__box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    flex: 0 0 48%;
    height: 30rem;
    background-color: var(--primary-color);
}

.collection__box:not(:last-child) {
    margin-right: 1.6rem;
}

.img__container {
    width: 25rem;
    text-align: center;
}

.collection__box img.collection_01 {
    width: 60%;
}

.collection__box img.collection_02 {
    width: 75%;
}

.collection__content {
    flex: 0 0 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.collection__content span {
    color: var(--black)
}

.collection__content h1 {
    margin-top: 0.5rem;
}

.collection__content a:link,
.collection__content a:visited {
    font-weight: var(--font-bold);
    display: inline-block;
    padding: 1rem 1.4rem;
    margin-top: 1.3rem;
    border-radius: 3rem;
    color: var(--primary-color);
    border: 2px solid var(--secondary-color);
    background-color: var(--secondary-color);
    transition: all 0.3s ease-in-out;
}

.collection__content a:hover {
    background-color: transparent;
    color: var(--secondary-color);
}

/* Latest Products */
.title__container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 6rem;
    padding: 2rem 0;
    background-color: var(--primary-color);
}

.section__title:not(:last-child) {
    margin-right: 1.5rem;
}

.section__title {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.section__title h1 {
    font-size: 1.9rem;
    font-weight: inherit;
}

.section__title:hover .primary__title,
.section__title:hover span.dot,
.section__title:hover span.dot::before {
    opacity: 1;
}

.section__title .primary__title {
    opacity: 0.6;
    padding-left: 0.5rem;
    transition: opacity 0.3s ease-in-out;
}

span.dot {
    opacity: 0.6;
    padding: 0.45rem;
    position: relative;
    border: 1px solid var(--black);
    cursor: pointer;
    transition: opacity 0.3s ease-in-out;
}

span.dot::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 1px solid var(--black);
    background-color: var(--black);
    margin: 1px;
    opacity: 0.6;
}

.section__title.active span.dot,
.section__title.active span.dot::before,
.section__title.active .primary__title {
    opacity: 1;
}

.product {
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 25rem;
}

.product__header {
    height: 25rem;
    padding: 0.5rem 0;
    text-align: center;
}

.product__header img {
    max-width: 100%;
    max-height: 100%;
}

.product__footer {
    padding: 1rem 0;
}

.product__footer h3 {
    padding: 1rem;
}

.rating svg {
    width: 1.6rem;
    height: 1.6rem;
    fill: var(--yellow);
}

.product__footer .product__price {
    padding-bottom: 1rem;
}

.product__btn {
    display: inline-block;
    font-weight: var(--font-bold);
    text-transform: uppercase;
    width: 100%;
    padding: 1.4rem 0;
    border: 1px solid var(--black);
    color: var(--black);
    cursor: pointer;
    transition: 0.5s;
}

.product__btn:focus {
    outline: none;
}

.product__btn:hover {
    background-color: var(--black);
    color: var(--primary-color);
}

.product ul svg {
    width: 1.7rem;
    height: 1.7rem;
    fill: var(--white);
}

.product ul {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 35%;
    left: 50%;
    width: 17rem;
    height: 5rem;
    background-color: rgba(255, 255, 255, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: translate(-50%, -50%) scale(0.7);
    transition: all 0.5s ease-in-out;
}

.product:hover ul {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, -50%) scale(1);
}

.product ul a:not(:last-child) {
    margin-right: 1.6rem;
}

.product ul a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--orange);
    width: 3.5rem;
    height: 3.5rem;
    cursor: pointer;
    transition: 0.5s;
}

.product ul a:hover {
    background-color: var(--black);
}

.product ul a::before {
    content: "";
    position: absolute;
    top: -0.6rem;
    left: -0.6rem;
    width: 0;
    height: 0;
    border-top: 3px solid var(--orange);
    border-left: 3px solid var(--orange);
    opacity: 0;
    z-index: 1;
    transition: 0.5s ease-in-out;
}

.product ul a::after {
    content: "";
    position: absolute;
    bottom: -0.6rem;
    right: -0.6rem;
    width: 0;
    height: 0;
    border-bottom: 3px solid var(--orange);
    border-right: 3px solid var(--orange);
    opacity: 0;
    z-index: 1;
    transition: 0.5s ease-in-out;
}

.product ul a:hover::before {
    width: 126%;
    height: 126%;
    border-top: 3px solid var(--orange);
    border-left: 3px solid var(--orange);
    opacity: 1;
}

.product ul a:hover::after {
    width: 126%;
    height: 126%;
    border-bottom: 3px solid var(--orange);
    border-right: 3px solid var(--orange);
    opacity: 1;
}

.latest__products .glide__arrow,
.related__products .glide__arrow {
    background-color: transparent;
    border: 1px solid var(--primary-color);
    outline: none;
    border-radius: 0;
    box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0);
    top: -7%;
    left: 80%;
}

.latest__products .glide__arrow:hover,
.related__products .glide__arrow:hover {
    background-color: var(--orange);
}

.latest__products .glide__arrow--left,
.related__products .glide__arrow--left {
    left: 75%;
}

.latest__products .glide__arrow--right,
.related__products .glide__arrow--right {
    right: 5%;
}

.latest__products .glide__arrow svg,
.related__products .glide__arrow svg {
    width: 1.5rem;
    height: 1.5rem;
    fill: var(--grey);
}

/* Media queries */
@media only screen and (max-width: 999px) {
    /* Hero area */
    .hero__center {
        flex-direction: column;
        text-align: center;
    }

    .hero__right {
        top: 50%;
        position: absolute;
    }

    .hero__left {
        position: absolute;
        top: 20%;
        padding: 0 1rem;
    }

    .hero__right img {
        width: 55%;
    }

    .hero__btn {
        padding: 1.1rem 2.8rem;
    }

    .hero .glide__arrows {
        display: none;
    }

    /* Collection */
    .collection__container {
        width: 80%;
        margin: 0 auto;
        flex-direction: column;
        height: 65rem;
    }

    .collection__box {
        width: 100%;
        margin: 0 auto;
    }

    .collection__box:not(:last-child) {
        margin: 0 0 1.6rem;
    }

    /* Latest Products */
    .product__header {
        height: 25rem;
    }

    .product {
        width: 70%;
        margin: 0 auto;
    }

    .latest__products .glide__arrow--left,
    .related__products .glide__arrow--left {
        left: 73%;
    }

    .latest__products .glide__arrow--right,
    .related__products .glide__arrow--right {
        right: 7%;
    }
}

@media only screen and (max-width: 768px) {
    /* Nav menu */
    .nav__menu {
        position: fixed;
        top: 0;
        left: -30rem;
        width: 0;
        background-color: var(--white);
        z-index: 9990;
        height: 100%;
        transition: all 0.3s;
    }

    .nav__menu.open {
        left: 0;
        width: 30rem;
    }

    .nav__logo {
        width: 50%;
    }

    .nav__hamburger {
        display: block;
    }

    .menu__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: var(--orange);
        padding: 1.8rem 1rem;
    }

    .menu__top svg {
        height: 1.6rem;
        width: 1.6rem;
        fill: var(--primary-color);
    }

    .nav__category {
        color: var(--white);
        font-size: 2.3rem;
        font-weight: var(--font-bold);
    }

    .nav__list {
        flex-direction: column;
        align-items: flex-start;
        padding: 1.6rem 1rem;
    }

    .nav__item:not(:last-child) {
        margin-right: 0;
    }

    .nav__item {
        width: 100%;
    }

    .nav__list .nav__link:link,
    .nav__list .nav__link:visited {
        padding: 1.6rem 0;
        width: 100%;
        color: var(--grey2);
    }

    body.active::before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: var(--black) none no-repeat 0 0;
        opacity: 0.7;
        z-index: 999;
        transition: 0.8s;
    }

    /* Latest Products */
    .latest__products .glide__arrow--left,
    .related__products .glide__arrow--left {
        left: 70%;
    }
}

@media only screen and (max-width: 568px) {
    /* Nav menu */
    .nav__icons .icon__item svg {
        width: 1.5rem;
        height: 1.5rem;
    }

    .nav__icons .icon__item {
        padding: 0.5rem;
    }

    /* Collection */
    .collection {
        margin: 0;
        position: relative;
    }

    .collection__container {
        width: 100%;
        height: 50rem;
        text-align: center;
        flex-direction: column;
        justify-content: space-around;
    }

    .collection__box {
        justify-content: space-around;
        height: 15rem;
    }

    .collection__content {
        flex: 0 0 30%;
    }

    .collection__data span {
        font-size: 1.2rem;
    }

    .collection__data h1 {
        font-size: 2rem;
    }

    /* Latest Product */
    .title__container {
        flex-direction: column;
    }

    .section__title {
        margin: 0 0 1.3rem;
    }

    .product__header {
        height: 20rem;
    }

    .product__header img {
        width: 50%;
    }

    .product__footer h3 {
        font-size: 1.4rem;
    }

    .product__btn {
        width: 100%;
        font-size: 1rem;
        padding: 0.8rem 0;
    }

    .product ul a {
        width: 2.7rem;
        height: 2.7rem;
    }

    .product ul {
        top: 25%;
        left: 50%;
        width: 16rem;
        height: 4rem;
    }

    .rating svg {
        width: 1.3rem;
        height: 1.3rem;
    }

    .latest__products .glide__arrow--left,
    .related__products .glide__arrow--left {
        left: 66%;
    }

    .latest__products .glide__arrow--right,
    .related__products .glide__arrow--right {
        left: 85%;
    }
}

@media only screen and (max-width: 460px) {
    /* Latest Products */
    .product__header {
        height: 12rem;
    }

    .product__footer h3 {
        font-size: 1.2rem;
    }
}